.idea/

plugin/globalDetectors/commands/plugin
plugin/globalDetectors/docker/plugin
plugin/globalDetectors/makeFile/plugin
plugin/globalDetectors/procFile/plugin
plugin/go/buildDirectory/plugin
plugin/go/commands/plugin
plugin/go/db/postgres/V_1_X/plugin
plugin/go/detectRuntime/plugin
plugin/go/env/plugin
plugin/go/framework/beego/v1_x/plugin
plugin/go/getDependencies/plugin
plugin/go/libraries/kafka/V1X/plugin
plugin/go/orm/gorm/V_1_X/plugin
plugin/go/preDetectCommand/plugin
plugin/go/staticAssets/plugin
plugin/go/testCasesCommands/plugin
cover/
cover/coverage.out
