# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/

plugin/js/detectRunTime/node_modules/

plugin/js/getDependencies/node_modules/

plugin/js/preDetectCommands/node_modules/

.idea/
